/* GLOBAL */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  padding-top: 30px;
  padding-bottom: 30px;
  margin: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #222;
  color: #222;
}

img {
  max-width: 100%;
  height: auto;
}

*:focus {
  outline: 2px dashed #999;
  outline-offset: 3px;
}

/* VISUALLY-HIDDEN */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* CONTAINER */
.container {
  width: 100%;
  max-width: 660px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
}

.global-wrapper {
  width: 100%;
  max-width: 660px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  background-color: yellow;
}


/* MAIN-CONTENT */
.main-content {
  position: relative;
  flex-grow: 1;
  padding-bottom: 600px;
}


/* SITE-HEADER */
.site-header {
  padding-top: 60px;
  padding-bottom: 60px;
}

.sitenav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}

.site-heading {
  margin: 0;
  font-size: 32px;
  font-weight: 500;
  
}
.site-header-link {
  display: block;
  margin: 0;
  width: 20px;
  height: 20px;
  object-fit: cover;
}

.site-header-link:hover {
  opacity: 0.8;
}

.site-header-link:active {
  opacity: 0.5;
}


/* USER-INFO */
.user-info {
  position: absolute;
  width: 660px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
  flex-shrink: 1;
}

.user-info-form {
  position: relative;
  padding-top: 70px;
  padding-bottom: 30px;
}

.user-info-img {
  position: absolute;
  top: 0;
  transform: translateY(-50%);
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  width: 80px;
  height: 75px;
  border: 0;
  border-radius: 50%;
  object-fit: cover;
}


.user-info-list {
  display: block;
}

.user-info-item {
  margin: 0;
  margin-bottom: 15px;
}

.first-and-last-name {
  display: flex;
  align-items: center;
}

.user-info-item-first {
  margin-right: 90px;
}

.user-info-item-label {
  display: block;
  margin: 0;
  font-size: 18px;
  font-weight: 500;
  color: #999;
}

.user-info-item-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 0;
  border-bottom: 2px solid #999;
  font-size: 16px;
}

.user-info-item-input-bio {
  max-width: 600px;
  max-height: 120px;
  min-width: 600px;
  min-height: 100px;
}


/* SITE-FOOTER */
.site-footer {
  padding-bottom: 20px;
}

.site-footer-content {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.site-footer-link {
  margin: 0;
  font-size: 24px;
  font-weight: 500;
  color: #666;
  text-decoration: none;
}

.site-footer-link:not(:last-child) {
  margin-right: 30px;
}

.site-footer-link:hover {
  opacity: 0.8;
}

.site-footer-link:active {
  opacity: 0.5;
}


@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
  
}
