/* GLOBAL */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  padding-top: 30px;
  padding-bottom: 30px;
  margin: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #222;
  color: #222;
}

img {
  max-width: 100%;
  height: auto;
}


/* VISUALLY-HIDDEN */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* CONTAINER */
.container {
  width: 100%;
  max-width: 660px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
}


/* MAIN-CONTENT */
.main-content {
  flex-grow: 1;
  padding-top: 30px;
  padding-bottom: 30px;
}


.profile-settings {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  background-color: #dad42b;
  border-radius: 5px;
  box-shadow:  0px 10px 15px -3px rgba(0, 0, 0, 0.2);
}


/* HEADER */
.profile-settings-header {
  padding: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile-settings-title {
  margin: 0;
  font-size: 28px;
  font-weight: 700;
}

.profile-settings-close-link {
  display: flex;
  margin: 0;
  width: 24px;
  height: 24px;
  object-fit: cover;
}

.profile-settings-close-link:focus {
  outline: 2px dashed #666;
  outline-offset: 3px;
}


/* BODY */
.profile-settings-form-body {
  position: relative;
  left: 40px;
  padding: 60px 30px 30px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow:  0px 10px 15px -3px rgba(0, 0, 0, 0.2);
}

.profile-settings-avatar {
  position: absolute;
  top: 0;
  left: 30px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  transform: translateY(-50%);
}

.profile-settings-form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.profile-settings-form-group:not(:last-child) {
  margin-bottom: 24px;
}

.profile-settings-form-row .profile-settings-form-group {
  width: 50%;
  margin-bottom: 0;
}

.profile-settings-form-row {
  display: flex;
}

.profile-settings-form-row:not(:last-child) {
  margin-bottom: 24px;
}

.profile-settings-form-label {
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: bold;
  color: #666;
  text-transform: uppercase;
}

.profile-settings-form-field {
  display: block;
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
  border: 0;
  border-bottom: 1px solid #666;
}

.profile-settings-form-field-bio {
  min-height: 80px;
  max-height: 100px;
  resize: vertical;
}


/* FOOTER */
.profile-settings-form-actions {
  padding: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.profile-settings-form-action {
  padding: 0;
  border: 0;
  font-size: 24px;
  font-weight: 500;
  color: #333;
  background-color: transparent;
  cursor: pointer;
}

.profile-settings-form-action:not(:last-child) {
  margin-right: 40px;
}

.profile-settings-form-action:focus {
  outline: 2px dashed #666;
  outline-offset: 3px;
}

.profile-settings-form-action:hover {
  opacity: 0.8;
}

.profile-settings-form-action:active {
  opacity: 0.6;
}